#!/usr/bin/env zsh

alias currentBranch='git rev-parse --abbrev-ref HEAD'
alias start="vim /Users/italodr/Documents/start.md -c \":Goyo\""

alias gaa='git add --all'
alias gba='git branch -a'
alias gcm='git commit -m'
alias gcf='gaa & gcm "Resolve conflicts"'
alias gco='git checkout'
alias gfa='git fetch --all --prune'
alias gpl='git pull origin $(currentBranch)'
alias gps='git push origin $(currentBranch)'
alias gpa='gps & git push origin --tags'
alias gsb='git status -sb'
alias glog='git log --all --decorate --oneline --graph'
alias gcache='git rm -r --cached .'
alias gbr='for k in `git branch -r | perl -pe "s/^..(.*?)( ->.*)?$/\1/"`; do echo -e `git show --pretty=format:"%Cgreen%ci %Cblue%cr%Creset" $k -- | head -n 1`\\t$k; done | sort -r'
alias gtg='git for-each-ref --format="%(color:green)%(refname:short) %(color:red)%(taggerdate:relative)" --sort="taggerdate" refs/tags'

alias r!="exec zsh -l"

# Sleep mac
alias sleep!="pmset sleepnow"
